body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(223, 223, 223);
}

#navBar {
  /* background-color: rgb(230, 139, 79); */
  position: fixed;
  top: 0;
  width: 100%;
}

#navText {
  font-size: larger;
  color: white;
  background-color: rgb(230, 139, 79);
}

#mainDiv {
  background-color: rgb(206, 203, 203);
  /* height: 100vh; */
  margin: 15px;
}

#sideDiv {
  height: 100vh;
}

#searchDiv {
  background-color: rgb(131, 215, 145);
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 15px;
}

#sidebarDiv {
  background-color: rgb(118, 133, 216);
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 15px;
}

#statsDiv {
  font-size: 25px;
}

#statsDiv {
  background-color: lavenderblush;
}

#flagDiv {
  background-color: lightcoral;
}

#mapDiv {
  background-color: lightskyblue;
}

#weatherDiv {
  background-color: rgb(177, 121, 193);
}

#newsDiv {
  background-color: mediumslateblue;
}

footer {
  background-color: rgb(230, 139, 79);
  color: white;
  font-weight: bolder;
  text-align: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
