body {
  font-family: "Montserrat", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1561723071-ea12542227e9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#searchCard {
  background-image: url(https://images.unsplash.com/photo-1570891836868-673ee4818f81?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080);
  align-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#searchCardTitle {
  text-align: center;
}

#pageTitle,
#pageSubtitle {
  color: white;
  text-align: center;
}

#mainDiv {
}

img {
  height: 200px;
  width: 250px;
}

div.large-auto .card .card-section {
  background-color: rgb(201, 129, 82);
  color: white;
  font-weight: 500;
  text-align: center;
}
section.grid-container .grid-x .cell .card .card-divider {
  background-color: #938b6c;
}
