body {
  font-family: "Montserrat", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1561723071-ea12542227e9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#searchCard {
  background-image: url(https://images.unsplash.com/photo-1570891836868-673ee4818f81?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080);
  /* background-image: url(https://images.unsplash.com/photo-1509330008791-ef3fb25a4a01?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1597946650068-3be3408e6299?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1603397177628-e4025e204a3f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1512897008368-c3582622731f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1575722290270-626b0208df99?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#searchCardTitle {
  text-align: center;
}

#pageTitle,
#pageSubtitle {
  color: white;
  text-align: center;
}

section.grid-container .grid-x .card .card-divider {
  background-image: url(https://images.unsplash.com/photo-1570891836868-673ee4818f81?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080);
  /* background-image: url(https://images.unsplash.com/photo-1509330008791-ef3fb25a4a01?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1597946650068-3be3408e6299?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1603397177628-e4025e204a3f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1512897008368-c3582622731f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1575722290270-626b0208df99?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

section.grid-container .grid-x .cell .card .card-section {
  background-image: url(https://images.unsplash.com/photo-1570891836868-673ee4818f81?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080);
  /* background-image: url(https://images.unsplash.com/photo-1509330008791-ef3fb25a4a01?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1597946650068-3be3408e6299?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1603397177628-e4025e204a3f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1512897008368-c3582622731f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  /* background-image: url(https://images.unsplash.com/photo-1575722290270-626b0208df99?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#historySection,
#favoritesSection {
  background-color: #e5e5e5;
}

img {
  height: 200px;
  width: 250px;
}

.button {
  font-weight: 600;
  border-radius: 5%;
  background-color: #bc6c25;
  border: 2px;
  border-color: #9a031e;
  border-style: dashed;
  /* background-color: #9a031e; */
}

.button:hover {
  background-color: #9c6644;
}
